<!DOCTYPE html>
<html dir="ltr" lang="en" class=" side-header home_page home_page_design s_layout4 isFreePackage ">
   <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="utf-8">
      <link rel="dns-prefetch preconnect" crossorigin="anonymous"/>
      <link rel="dns-prefetch preconnect"  crossorigin="anonymous"/>
      <link rel="dns-prefetch preconnect" href="https://fonts.googleapis.com/" crossorigin="anonymous"/>
      <link rel="dns-prefetch preconnect" href="https://fonts.gstatic.com/" crossorigin="anonymous"/>
      <!-- Favicon -->
      <link rel="shortcut icon" href="https://i.imgur.com/xtA9idS.png" type="image/x-icon">
      <link rel="icon" href="https://i.imgur.com/xtA9idS.png" type="image/x-icon">
      <!-- Regular Meta Info -->
      <title>Online PC Build Assistant</title>
      <meta name="description" content="Online PC Build Assistant">
      <meta name="keywords" content="">
      <link rel="canonical" href="http://localhost:8000/OPBA/home" />
      <!-- Global site tag (gtag.js) - Google Analytics --> <script async src="https://www.googletagmanager.com/gtag/js?id=UA-71219427-1"></script> <script>      window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());
         gtag('config', 'UA-71219427-1');
      </script> <!-- Facebook Meta Info -->
      <meta property="og:url" content="http://localhost:8000/OPBA/home">
      <meta property="og:image" content="https://i.imgur.com/FTxSFEP.png">
      <meta property="og:description" content="Online PC Build Assistant">
      <meta property="og:title" content="Online PC Build Assistant">
      <meta property="og:site_name" content="Online PC Build Assistant">
      <meta property="og:see_also" content="http://localhost:8000/OPBA/home">
      <!-- Google+ Meta Info -->
      <meta itemprop="name" content="Online PC Build Assistant">
      <meta itemprop="description" content="Online PC Build Assistant">
      <meta itemprop="image" content="https://i.imgur.com/FTxSFEP.png">
      <!-- Twitter Meta Info -->
      <meta name="twitter:card" content="summary">
      <meta name="twitter:url" content="https://1792244.site123.me/">
      <meta name="twitter:title" content="Online PC Build Assistant">
      <meta name="twitter:description" content="Online PC Build Assistant">
      <meta name="twitter:image" content="https://cdn-cms.f-static.com/uploads/1792244/800_5c376b700c595.jpg">
      <!-- Custom CSS --><!-- Minimize CSS files -->
      <link rel="stylesheet" href="//cdn-cms-s.f-static.com/versions/2/css/minimize.css?v=r4943" type="text/css" crossorigin="anonymous">
      <link rel="stylesheet" href="//cdn-cms-s.f-static.com/versions/2/css/websiteCSS.css?w=&orderScreen=&websiteID=1792244&onlyContent=&tranW=&v=r4943_7079725" class="reloadable-css" type="text/css">
      <!-- Froala Editor CSS --> 
   </head>
   <body id="page-top">
   	<form action = "/OPBA/home/" role = "form" method = "POST">
   	 {% csrf_token %}
      <div class="body">
         <div id="websiteHeader">
            <header id="header" class="hidden-xs">
               <div class="header-container">
                  <div class="header-row">
                     <div class="header-column header-column-logo">
                        <div class="header-logo"> <a class="navbar-brand page-scroll s123-site-logo" href="#page-top"><img src="https://i.imgur.com/xtA9idS.png" alt="Online PC Build Assistant" class="img-responsive" /></a> </div>
                     </div>
                     <div class="header-column header-column-menu">
                        <div class="header-row">
                           <div class="header-nav">
                              <div id="top-menu" class="header-nav-main">
                                 <nav>
                                    <ul class="navPages nav" id="mainNav">
                                       <li class="moduleMenu active"><a class="page-scroll homepageMenu" href="#page-top">Home</a></li>
                                       <li class="moduleMenu" data-menu-module-id="5b1e5722d1997"><a class="page-scroll" href="#section-5b1e5722d1997">Build Your PC</a></li>
                                       <li class="moduleMenu" data-menu-module-id="5b1e5722a707d"><a class="page-scroll" href="#section-5b1e5722a707d">About</a></li>
                                    </ul>
                                 </nav>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="header-column header-column-menu-actions">
                        <div class="header-row">
                           <div class="header-nav">
                              <ul class="navActions nav">
                                 <!-- Cart --> 
                                 <li class="header-cart-wrapper orderOpenCart "><a id="cartActionButton" class="actionButton btn-primary-action-button-4" role="button"><i class="fa fa-shopping-cart"><span class="count"></span></i></a></li>
                              </ul>
                              <ul class="headerSocial"> </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </header>
         </div>
         <nav id="mainNavMobile" class="navbar-fixed-top">
            <div class="navPagesLeft">
               <div class="header-menu-wrapper"><a data-close-location="left" class="actionButton" role="button" data-container="body" data-toggle="menuCallActionIcons"><i class="fa fa-bars"></i></a></div>
            </div>
            <div class="navbar-header"> <a class="navbar-brand page-scroll s123-site-logo" href="#page-top"><img src="https://i.imgur.com/xtA9idS.png" alt="Online PC Build Assistant" class="img-responsive" /></a> </div>
            <div class="navPagesRight">
               <ul class="navActions nav navbar-nav">
                  <!-- Cart --> 
                  <li class="header-cart-wrapper orderOpenCart "><a id="cartActionButton" class="actionButton btn-primary-action-button-4" role="button"><i class="fa fa-shopping-cart"><span class="count"></span></i></a></li>
               </ul>
            </div>
         </nav>
         <div id="top-menu-mobile" style="display:none;">
            <ul>
               <li class="moduleMenu active"><a class="page-scroll homepageMenu" href="#page-top">Home</a></li>
               <li class="moduleMenu" data-menu-module-id="5b1e5722d1997"><a class="page-scroll" href="#section-5b1e5722d1997">Build Your PC</a></li>
               <li class="moduleMenu" data-menu-module-id="5b1e5722a707d"><a class="page-scroll" href="#section-5b1e5722a707d">About</a></li>
            </ul>
         </div>
         <section id="top-section" class="homepage_style_1 fitScreen section-homepage-layout-4200 parallax-on">
            <div class="parallax-window home-image-bg" data-parallax="scroll" data-bleed="30" data-idele="parallax_home_opacity" data-opacity="0.7" data-filter="" data-backgroundcolor="#000000" data-image-src="https://i.imgur.com/FTxSFEP.png" data-position="center center" data-background-position="center center" style="background-position:center center"></div>
            <div class="homepage-layout-24 homepage-layout-42 container">
               <h1 id="home_siteSlogan" class="weight400  background2 spacingSmall " >Online PC Build Assistant</h1>
               <h2 id="home_siteSlogan_2" class="weight400 shadow1   bottomSpaceBig" style="display:none"></h2>
               <p id="home_SecondSiteSlogan" class="weight400  background4 spacingLarge " >Build your dream PC without worries!</p>
            </div>
         </section>
         <div id="s123ModulesContainer" class="s123-modules-container">
            <section id="section-5b1e5722d1997" class="s123-module s123-module-services layout-1 bg-primary">
               <div data-aos="fade-up" class="container-fluid page_header_style page_header_style_">
                  <div class="row">
                     <div class="container">
                        <div class="row modulesTitle">
                           <div class="col-xs-12 text-center">
                              <H2 id="section-5b1e5722d1997-title" class="s123-page-header">Build Your PC</H2>
                              <hr class="small">
                              <h4 id="section-5b1e5722d1997-slogan"></h4>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="container" data-aos="fade-up">
                  <div class="row text-center">
                     <div class="col-md-3 col-sm-6 col-centered">
                        <div class="service-item">
                           <span class="fa-stack fa-4x img-circle" style="background-image:url(https://i.imgur.com/v2WrNGC.jpg);"></span>
                           <h4><strong>Build your dream PC</strong></h4>
                           <p>Build your future PC with the help of our powerful tool.</p>
                           <button type = "submit" class="servcies-more-link btn btn-primary">Start Build</button>
                        </div>
                     </div>
                     <div class="col-md-3 col-sm-6 col-centered">
                        <div class="service-item">
                           <span class="fa-stack fa-4x img-circle" style="background-image:url(https://i.imgur.com/1fDPytD.jpg);"></span>
                           <h4><strong>Access Favourites</strong></h4>
                           <p>See all your saved builds with the press of a button. Requires Login.</p>
                           <a href="/OPBA/buildpc/favourites" class="servcies-more-link btn btn-primary">Favourites</a>
                           
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <section id="section-5b1e5722a707d" class="s123-module s123-module-about layout-2 layout-2">
               <div data-aos="fade-up" class="container-fluid page_header_style page_header_style_">
                  <div class="row">
                     <div class="container">
                        <div class="row modulesTitle">
                           <div class="col-xs-12 text-center">
                              <H2 id="section-5b1e5722a707d-title" class="s123-page-header">About</H2>
                              <hr class="small">
                              <h4 id="section-5b1e5722a707d-slogan"></h4>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="container" data-aos="fade-up">
                  <div class="row sides">
                     <div class="col-xs-12 col-md-6">
                        <div class="responsive-handler fr-view breakable">
                           <h3>How We Got Our Start</h3>
                           <br>Like anyone else,  we had to start from the bottom. We built our first PC&#39;s only after hours of tutorials and research in order to make sure all of the components were compatible with one and another. Sometimes, even hoping they would start. It&#39;s from that time we got the desire to help people so that they don&#39;t go through what we went. That&#39;s how Online PC Build Assistant was born.<br><br>A simple tool with a single job, help users create their PC&#39;s by making sure the parts are compatible.<br><br><br>
                        </div>
                     </div>
                     <div class="col-xs-12 col-md-6">
                        <div class="separateImages text-center"> <img src="https://i.imgur.com/sDvP143.png" class="img-rounded img-responsive" style="max-height:400px;max-width:80%;display:inline-block;" alt="About" /> </div>
                     </div>
                  </div>
               </div>
            </section>
         </div>
         <footer class="global_footer footer_1">
            <div class="container">
               <div class="row">
                  <div class="side1 col-xs-12 col-sm-6 col-md-6">
                     <div> <span class="footer_name">Online PC Build Assistant</span> </div>
                     <div>                                Copyright © 2019 All rights reserved
                     </div>
                     <div class="clearfix">Powered By <a target="_blank" href="https://www.site123.com">SITE123</a> 
                     </div>
                  </div>
                  <div class="side2 col-xs-12 col-sm-6 col-md-6">
                     <ul class="navPages nav navbar-nav hidden-xs">
                        <li class="moduleMenu active"><a class="page-scroll homepageMenu" href="#page-top">Home</a></li>
                        <li class="moduleMenu" data-menu-module-id="5b1e5722d1997"><a class="page-scroll" href="#section-5b1e5722d1997">Build Your PC</a></li>
                        <li class="moduleMenu" data-menu-module-id="5b1e5722a707d"><a class="page-scroll" href="#section-5b1e5722a707d">About</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </footer>
      </div>
      <div> </div>
      <a id="gotoTop" class="gotoTop page-scroll" style="display: none;" href="#page-top"><i class="fa fa-angle-up"></i></a> <input type="hidden" id="layoutNUM" name="layoutNUM" value="4"> <input type="hidden" id="footer_layout" name="footer_layout" value="1"> <input type="hidden" id="layoutMenuPositionTXT" name="layoutMenuPositionTXT" value="left"> <input type="hidden" id="versionNUM" name="versionNUM" value="2"> <input type="hidden" id="w" name="w" value=""> <input type="hidden" id="websiteID" value="1792244"> <script>        var menuScrollOffset = 0;
         var packageNUM = 1;
         var subDomainUrl = 'site123.me';
         var domain = '1792244';
         var languageCode = 'en';
         var multiLanCode = '';
         var globalLanguageChildLan          = '';
         var websiteLanguageCode             = '';
         var websiteLanguageCountryCode      = '';
         var websiteLanguageCountryFullCode  = '';
         var $GLOBALS = {
             'cdn-user-files' : '//cdn-cms.f-static.com'
         };
         var modulesList = "[{\"id\":\"130993123\",\"moduleID\":\"5b1e5722d1997\",\"moduleTypeNUM\":\"3\",\"title\":\"Build Your PC\",\"settings\":\"\",\"url\":\"build-your-pc\",\"style\":\"1\",\"modulesArrID\":\"0\",\"slogan\":\"\",\"showInMenu\":\"1\",\"showInFooter\":\"1\",\"mp_showInMenu\":\"1\",\"mp_showInHome\":\"1\",\"parentId\":\"\"},{\"id\":\"130993120\",\"moduleID\":\"5b1e5722a707d\",\"moduleTypeNUM\":\"16\",\"title\":\"About\",\"settings\":\"\",\"url\":\"about\",\"style\":\"2\",\"modulesArrID\":\"0\",\"slogan\":\"\",\"showInMenu\":\"1\",\"showInFooter\":\"1\",\"mp_showInMenu\":\"1\",\"mp_showInHome\":\"1\",\"parentId\":\"\"}]";
      </script> <!-- JavaScript Translations Object --><script>var translations = {
         "sent"	  		   : "Sent!",
         "enterYourQuery" 	   : "Enter your query",
         "loading"		   : "Loading...",
         "closeEsc"		   : "Close (Esc)",
         "previousLeftArrowKey"	   : "Previous (Left arrow key)",
         "NextRightArrowKey"	   : "Next (Right arrow key)",
         "of"		   	   : "of",
         "more"		   	   : "MORE",
         "cart"		   	   :"Cart",
         "SearchResult"		   : "Search Result",
         "ChooseTheAmountDonate"    : "Choose the amount you want to donate",
         "blogReviewMessage"	   : "Thank you! Your comment will be published after being approved by the admin.",
         "ConfirmMailingSubscrive"  : "Please Confirm Your Email Address to Complete Your Subscription",
         "subscribeTellAboutYou"  : "Please tell us about yourself",
         "imageCouldNotLoaded"      : "<a href=\"%url%\">The image<\/a> could not be loaded.",
         "searchInputValidation"    : "Please enter a valid search query.",
         "jqueryValidMsgRequire"    : "This field is required.",
         "jqueryValidMsgRemote"     : "Please fix this field.",
         "jqueryValidMsgEmail"      : "Please enter a valid email address.",
         "jqueryValidMsgUrl"        : "Please enter a valid URL.",
         "jqueryValidMsgDate"       : "Please enter a valid date.",
         "jqueryValidMsgDateISO"    : "Please enter a valid date (ISO).",
         "jqueryValidMsgNumber"     : "Please enter a valid number.",
         "jqueryValidMsgDigits"     : "Please enter only digits.",
         "jqueryValidMsgCreditcard" : "Please enter a valid credit card number.",
         "jqueryValidMsgEqualTo"    : "Please enter the same value again.",
         "jqueryValidMsgAccept"     : "Please enter a value with a valid extension.",
         "jqueryValidMsgMaxlength"  : "Please enter no more than {0} characters.",
         "jqueryValidMsgMinlength"  : "Please enter at least {0} characters.",
         "jqueryValidMsgRangelength":"Please enter a value between {0} and {1} characters long.",
         "jqueryValidMsgRange"	   : "Please enter a value between {0} and {1}.",
         "jqueryValidMsgMax"	   : "Please enter a value less than or equal to {0}.",
         "jqueryValidMsgMin"	   : "Please enter a value greater than or equal to {0}.",
         "sending"		   : "Sending",
         "firstName"		   : "First Name",
         "lastName"		   : "Last Name",
         "phone"			   : "Phone",
         "emailAddress"		   : "Email Address",
         "fileUpload"		   : "File Upload",
         "send"			   : "Send",
         "search"		   : "Search",
         "productvalidatorPopover"  : "Required field",
         "SpecialRequest" 	   : "Special Request",
         "restaurantReservation"    : "Restaurant Reservation",
         "ThankYouAuto"		   : "Order completed, thank you for your order!",
         "ThankYouManual"	   : "Order is not completed yet, we will contact you soon",
         "Ok"			   : "OK",
         "OrderNumber"		   : "Order Number",
         "Date"			   : "Date",
         "Hour"			   : "Hour",
         "TableSize"		   : "Table Size",
         "NoAvailableTime"	   : "Sorry, there is no available time for this date, please try another date.",
         "message"	           : "Message",
         "ThankYou"	           : "Thank you",
         "error_title"	   	   : "Error",
         "error_body"	   	   : "Oops something went wrong",
         "limit20Tickets"	   : "Limit of 20 Tickets",
         "registrationClosed"       : "Registration is closed. Please contact us for more information.",
         "Sunday"		   : "Sunday",
         "Monday"		   : "Monday",
         "Tuesday"		   : "Tuesday",
         "Wednesday"		   : "Wednesday",
         "Thursday"		   : "Thursday",
         "Friday"		   : "Friday",
         "Saturday"		   : "Saturday",
         "foodDeliverybootBoxTitle" : "Order Window",
         "addToCart"                : "Add To Cart",
         "save"                	   : "Save",       
         "ThankYouAfterSubmmit" 	   : "Thank you for contacting us. We have received your message and will respond to you soon.",    
         "country" 					: "Country",
         "productQuntityLimit" 		: "The product is limited to a maximum of {{units_limitation}} units.",
         "productQuntityLimitMin" 		: "The product is limited to a minimum of {{units_limitation}} units.",
         "forumDeleteTopic" 		: "Deleting a topic will also permanently remove all related replies. Are you sure you want to delete it?",
         "forumDeleteTopicTitle" 	: "Delete Topic",
         "forumDeleteReply" 		: "Are you sure you want to delete this reply?",
         "forumDeleteReplyTitle" 	: "Delete Reply",
         "forumNewTopic" 	: "New Topic",
         "forumCreateNewTopic" 	: "Create a new topic",
         "forumCountOfTotalPosts" 	: "Post a total of {{numbers_of_posts}} posts",
         "forumSearchPlaceholder" 	: "search topics, posts, or categories",
         "forumLastReply" 	: "Last Reply",
         "follow" 	: "Follow",
         "following" 	: "Following",
         "forumReplies" 	: "Replies",
         "forumFrequentPosters" 	: "Frequent Posters",
         "chooseCategory" 	: "Choose Category",
         "linkCopiedToClipboard" 	: "Link copied to clipboard",
         "edit" 	: "Edit",
         "created" 	: "Created",
         "seeMore" 	: "See More",
         "options" 	: "Options",
         "joined" 	: "Joined",
         "posted" 	: "Posted",
         "category" 	: "Category",
         "yes" 	: "Yes",
         "no" 	: "No",
         "insertTopicTitle" 	: "Insert Topic Title",
         "insertTopicMessage" 	: "Insert Message Topic",
         "reply" 	: "Reply",
         "addReply" 	: "Add reply",
         "address" 	: "Address:",
         "city" 	: "City:",
         "state" 	: "State:",
         "zipCode" 	: "Zip\/Postal Code:",
         "instructions" 	: "Instructions:",
         "country_v2" : "Country:"	};
         </form>
      </script><!-- JavaScript Translations Object --><!-- Minimize JS files --><script src="//cdn-cms-s.f-static.com/versions/2/js/minimize.js?v=r4943" crossorigin="anonymous"></script> 
   </body>
</html>