{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Online PC Build Assistant Register</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="shortcut icon" href="https://i.imgur.com/xtA9idS.png" type="image/x-icon">
    <link rel="icon" href="https://i.imgur.com/xtA9idS.png" type="image/x-icon">
</head>
<body>
<div class="container">
  <div class="row justify-content-md-center" style="padding-top:120px;">
    <div class="col-md-4 align-self-center"><div class="p-3 mb-2 bg-danger text-white text-center">
    Join the Master Race Today!</div></div>
  </div>
</div>

<div class="container">
<div class="row justify-content-md-center">
<div class="col-md-4 align-self-center">
<div class="p-3 mb-2 bg-light text-dark">
<form action = "/OPBA/register/" role = "form" method = "POST">
{% csrf_token %}
  <div class="form-group">
    <label for="user">Username:</label>
     <input type="user" class="form-control" name = "user" id="user" aria-describedby="userHelp" placeholder="Username" >
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" name = "email" id="email" aria-describedby="emailHelp" placeholder="Email Address">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" name = "password" id="password"  aria-describedby="passHelp" placeholder="Password" >
  </div>
  <div class="form-group">
    <label for="cpassword">Confirm Password:</label>
    <input type="password" class="form-control" name = "cpassword" id="cpassword"  aria-describedby="passHelp" placeholder="Confirm Password">
  </div>
<div class="col-sm-12 text-center">
 	<button type = "submit" class="btn btn-danger" role="button">Register</button>
  </div>
  </form>
   <div class="col-sm-12 text-center" style="padding-top:20px;">
  Already have an account?
  <a href="http://localhost:8000/OPBA/login">Sign In</a>
  </div>

</div>
</div>
</div>
</div>
<script src="{% static 'js/bootstrap.js' %}"></script>

</body>
</html>